mixin text-input(name, label, extraclass)
    //- Creates one of the standard underlined text inputs
        Defaults to a input of type text
        Always passes block to the label, since new keys take days/weeks to propagate through Roll20
        Parameters
            name: underlying attribute name (without "attr_")
            label: i18n code for the label
            extraclass: if present, will be the class of the input
        Attributes
            All attributes except class are passed on to the input. class is passed on
            to the containing label.
    - classes = attributes.class;
    - delete attributes.class;
    label(class=["text-input", classes])
        span.small(data-i18n=label).
        input(type="text", name=`attr_${name}`, class=extraclass)&attributes(attributes)

mixin text-input-inline(name, extraclass)
    //- Creates one of the standard underlined text inputs
            Defaults to a input of type text
            Always passes block to the label, since new keys take days/weeks to propagate through Roll20
            Parameters
                name: underlying attribute name (without "attr_")
                label: i18n code for the label
                extraclass: if present, will be the class of the input
            Attributes
                All attributes except class are passed on to the input. class is passed on
                to the containing label.
    - classes = attributes.class;
    - delete attributes.class;
    .text-input(class=classes)
        input(type="text", name=`attr_${name}`, class=extraclass)&attributes(attributes)

mixin text-input-duo(name1, name2, label, attributes2, prefix, infix, suffix)
    //- Creates a pair of underlined inputs
        Defaults to number inputs
        Parameters
            name1: underlying attribute name of first input (without "attr_")
            name2: underlying attribute name of second input (without "attr_")
            label: i18n code for the label. Block is inserted as placeholder.
            attributes2: will be passed on as the attributes of the second input
            infix: will be placed between the inputs, defaults to /
            prefix: placed before inputs, if present
            suffix: placed after inputs if present
        Attributes
            All attributes except class are passed on to the first input.
            class is passed on to the containing label.
    - classes = attributes.class;
    - delete attributes.class;
    .text-input.duo(class=classes)
        if (label)
            .label(data-i18n=label)
                block
        else
            block
        if (prefix)
            span= prefix
        else
            span
        +number-input-arrows(name1)&attributes(attributes)
        //input(type="number", name=`attr_${name1}`)&attributes(attributes)
        if (infix)
            span= infix
        else
            span /
        span
            input(type="number", name=`attr_${name2}`)&attributes(attributes2)
        if (suffix)
            span= suffix
        else
            span
